@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, :after, :before{
    box-sizing: border-box;
}

body{
    background: black;
    max-height: 100vh;
    overflow: hidden;
    padding: 100px 20px;
}


.back{
    color: white;
}

#top{
    width: 100vw;
    height: 50vh;
    background: black;
    position: absolute;
    z-index: 10;
}

#bottom{
    width: 100vw;
    height: 50vh;
    background: black;
    position: absolute;
    z-index: 10;
    top:50%;
}


.img{
    height: 50vh;
    text-align: center;
    line-height: 50vh;
}

.img h1 {
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    text-transform: uppercase;
    font-size: max(2rem,min(18vw,15rem));
    white-space: nowrap;
    font-weight: 100;
}

#img1{
    background-image: url('../images/fashion-gb2db4325c_640.jpg');
    background-size: cover;
    background-position: 50% 45%;
}

#img2{
    background-image: url('../images/girl-gbbbf1c1a1_640.jpg');
    background-size: cover;
    background-position: 50% 45%;
}

#img3 {
    background-image: url('../images/woman-g2cf865cb5_640.jpg');
    background-size: cover;
    background-position: 10% 45%;
}

.parent{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-column-gap: 50px;
    color:white;
}

.name {
    
    text-transform: uppercase;
}
.div2 {
     grid-area: 1 / 4 / 2 / 5;
 }
.div3 {
     grid-area: 1 / 5 / 2 / 6;
 }

 .title {
    color: grey;
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: 10px;
 }

 p{
    color: white;
 }

@media screen and (max-width: 900px) {
    body{
        height: 100vh;
        overflow:visible;
    }
    .parent{
        display: block;
        padding: 20px;
    }

    i{
        margin-left: 20px;
    }

    .div2{
        margin: 20px 0;
    }

    #bottom{
        display: none;
    }
    #img1{
        background-position: 85% 45%;
    }

    #img3{
        background-position: 50%;
    }

    .img h1{
        display: none;
    }
}